<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kovalenko.teledrive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_teledrive"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_teledrive_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.SignInActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.detailactivity.LoadDetailActivity" />
        <activity android:name=".activity.newactivity.NewLoadActivity" />
        <activity android:name=".activity.detailactivity.TruckDetailActivity" />
        <activity android:name=".activity.newactivity.NewTruckActivity" />
        <activity android:name=".activity.newactivity.NewFacilityActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPcyYa9AVAK9WHE99L8B8VgBOxVjnpCK4" />

        <activity android:name=".activity.detailactivity.FacilityDetailActivity" />
        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activity.newactivity.NewDriverActivity" />
        <activity android:name=".activity.detailactivity.DriverDetailActivity"></activity>
    </application>

</manifest>